body {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.summary {
    margin-bottom: 30px;
    text-align: left;
    border-collapse: collapse;
}

.summary th,
.summary td {
    border: solid 1px;
}

.summary th {
    background-color: #333;
    color: #FDFDFD;
}

.fixed_headers {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_headers th,
.fixed_headers td {
    padding: 5px;
    text-align: left;
}

.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 70px;
}

.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    min-width: 300px;
}

.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    min-width: 200px;
}

.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
    min-width: 80px;
}

.fixed_headers td:nth-child(5),
.fixed_headers th:nth-child(5) {
    min-width: 80px;
}

.fixed_headers thead {
    background-color: #333;
    color: #FDFDFD;
}

.fixed_headers thead tr {
    display: block;
    position: relative;
}

.fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 700px;
}

.fixed_headers tbody tr:nth-child(even) {
    background-color: #DDD;
}

.deleted {
    color: red;
}

.font_family__basic {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

/**
 * ニコられ表示
 */
.nikoru_item {
    padding: 5px;
    width: 700px;
    /*height: 130px;*/
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

/**
 * ニコられ表示 サムネイル
 */
.nikoru_item .nikoru_thumbnail {
    width: 66px;
    height: 44px;
}

/**
 * ニコられ表示 コメント
 */
.nikoru_item .comment {
    width: 80%;
    float: left;
    word-break: break-all;
}

/**
 * ニコられ表示 タイトル
 */
.nikoru_item .title {
    margin-top: 8px;
    margin-left: 10px;
    float: left;
    vertical-align: middle;
}

/**
 * ニコられ表示 ニコられ数
 */
.nikorare_count {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(120, 173, 243) 0%, rgb(75, 133, 210) 100%);
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: rgb(204, 204, 204) 2px 2px 3px 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    filter: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 13px;
    height: 44px;
    line-height: 19.5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    float: right;
    text-align: center;
    text-shadow: rgb(82, 121, 172) -1px -1px 0;
    width: 80px;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-margin-after: 0;
    -webkit-margin-before: 5px;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
}
